{%extends 'base.html'%}

{%block content%}
<table>
    <thead>
    <th>Autor</th>
    <th>Tresc</th>
    
    </thead>
    <tbody>
        {%for message in messages%}
            {%ifequal message.fromwho currentuser %}
                <tr>
                    <td><a href="conversation/{{message.towho}}">{{message.towho}}</a></td>
                    <td>{{message.content}}</td>
                </tr>
            {%else%}
                <tr>
                    <td><a href="conversation/{{message.fromwho}}">{{message.fromwho}}</a></td>
                    <td>{{message.content}}</td>
            
                </tr>
            {%endifequal%}
        {%endfor%}
    </tbody>
</table>


{%endblock%}
